<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../head %>
    <title>Edit</title>

</head>

<body>
    <% include ../header %>
        <div style="padding-top:25px">
            <div class="row">
                <div class="col-md-5">
                    <div class="unicron" style="font-size:170px">
                        <span>Unicron</span>
                    </div>
                </div>
                <div class="col-md-7">
                <form action='/update' enctype='multipart/form-data'   method="POST">
                    <div class="divImg">
                    
                        <img class="avatar" src="/images/upload/<%= avatar %>" alt=""><br><br>
                        <input type="file" name="avatar" value="">
                        </div>
                    
                    <table class="tblprofile tbledit">
                        <tr>
                            <th>User name:</th>
                            <td>
                                <input type="text" name="username" style="background-color:#0f0f0f; color:white;border:none" readonly="true" value=<%= User.username %> >
                                
                            </td>
                        </tr>
                        <tr>
                            <th>Pass word:</th>
                            <td>
                            <input type="text" name="username" value=<%= User.password %> >
                                
                            </td>
                        </tr>
                        <tr>
                            <th>Age:</th>
                            <td>
                            <input type="number" name="username" value=<%= User.age %> >
                                
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                            <input type="text" name="username" value=<%= User.email %> >
                                
                            </td>
                        </tr>
                        <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="" value="Update">
                        </td>
                        </tr>
                    </table></form>
                    
                </div>

            </div>
        </div>
</body>

</html>