<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../head %>
        <title>Profile</title>
</head>

<body>
    <% include ../header %>

        <div class="row">
            <div class='col-md-12'>
                <div class='unicron2'>
                    <span>Unicron</span>
                    <div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-12'>
                        <div>
                            <div style="font-family: DK Languedoc;width:100%;text-align:center">
                                <% if(msgProfile) {%>
                                    <span style="font-size:50px;"><%= msgProfile %></span>
                                    <% } %>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class='col-md-2'>
                        
                    </div>

                    <div class='col-md-4'>
                        <div style='margin:0 auto;width:250px' >
                            <img class='avatar'  src="./images/avatar/<%= avatar %>" alt="">
                            </div>
                            <div class='profilename'>
                                <span><%= User.profilename %></span>
                            </div>
                            
                        
                    </div>

                    <div class='col-md-5'>
                    <table class="tblprofile">
                        <tr>
                            <th>User name:</th>
                            <td>
                                <%= User.username %>
                            </td>
                        </tr>
                        <tr>
                            <th>Profile name</th>
                            <td>
                                <%= User.profilename %>
                            </td>
                        </tr>
                        <tr>
                            <th>Age:</th>
                            <td>
                                <%= User.age %>
                            </td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>
                                <%= User.email %>
                            </td>
                        </tr>
                        <tr>
                        <td></td>
                        <td>
                            <a href="/profile/edit/<%= User.username %>" class='btn-default btn'>Edit</a>
                        </td>
                        </tr>
                    </table>
                        
                    </div>

                    <div class='col-md-1'>
                        
                    </div>

                </div>
</body>

</html>