<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../head %>

</head>

<body>
    <% include ../header %>
        <div style="padding-top:30px">
        <div style="font-family: DK Languedoc;width:100%;text-align:center">
        <% if(msgProfile) {%> 
            <span style="font-size:50px;"><%= msgProfile %></span>   
            <% } %>
            
        </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="unicron" style="font-size:170px">
                        <span>Unicron</span>
                    </div>
                </div>
                <div class="col-md-7">
                <div class="divImg">
             
                        <img class="avatar" src="/images/upload/<%= avatar %>" alt="">
                        </div>
                    <table class="tblprofile">
                        <tr>
                            <th>User name:</th>
                            <td>
                                <%= User.username %>
                            </td>
                        </tr>
                        <tr>
                            <th>Pass word:</th>
                            <td>
                                <%= User.password %>
                            </td>
                        </tr>
                        <tr>
                            <th>Age:</th>
                            <td>
                                <%= User.age %>
                            </td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>
                                <%= User.email %>
                            </td>
                        </tr>
                    </table>
                    <form >
                    
                    </form>
                </div>

            </div>
        </div>
</body>

</html>